body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #f26522;
  --orange: #f26522;
  --bg: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar .navbar-logo img {
  width: 40px;
  position: relative;
  right: 50px;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--orange);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* SEARCH FORM */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #000000;
  width: 50rem;
  max-width: 90%;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  color: #000;
  padding: 1rem;
  border: none;
  outline: none;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: white;
}

/* SHOPPING CART */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  max-width: 100%;
  padding: 0 1.5rem;
  background-color: #020202;
  color: var(--bg);
  transition: 0.3s;
  overflow-y: auto;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #d60909;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* HERO */
.hero-container {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 80px;
}

.hero-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.image-container  img {
    margin-top: 20px;
    width: 100%;
  }

/* IMAGE CONTAINER */
.image-container-2 img,
.image-container-3 img,
.images-shop img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.image-container-2 img {
  margin-bottom: 40px;
}

.image-container-3 img {
  margin-top: 40px;
}



.Text {
  text-align: center;
  color: #FF8000;
  margin-bottom: 40px;
}

/* IMAGE EFFECT */
.product-image {
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.02);
}

.thumbnail {
  transition: all 0.3s ease;
  cursor: pointer;
}

.thumbnail:hover,
.thumbnail.active {
  border-color: #3b82f6;
  transform: scale(1.05);
}

.add-to-cart-btn {
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(59, 130, 246, 0.3);
}

/* RELATED PRODUCT */
.related-product-card {
  transition: all 0.3s ease;
}

.related-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* COLUMN */
.col {
  width: 100%;
  margin: 0;
  padding: 20px;
}

/* TITLE */
h1 {
  font-size: 80px;
}

/* NEWS SECTION */
.news-section {
  width: 100%;
  padding: 40px 35px;
  background: #ffffff;
}

.news-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  flex-wrap: nowrap;
}

.news-card {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.news-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

.news-card h3 {
  font-size: 17px;
  line-height: 1.7;
  color: #000000;
  margin-top: 14px;
  font-weight: 700;

  /* bikin tinggi text sama */
  min-height: 150px;
}

.btn-news {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: auto;

  padding: 13px 24px;
  background: #f26522;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  width: fit-content;

  transition: 0.3s;
}

.btn-news:hover {
  background: #dd5a1d;
  transform: translateY(-2px);
}

.btn-news span::before {
  content: "›";
  font-size: 22px;
}

/* FILTER BAR */

.filter-bar {
  width: 100%;
  background: #f15a22;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 22px 40px;

  /* supaya ikut scroll */
  position: sticky;
  top: 80px; /* tinggi navbar */
  z-index: 999;

  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.filter-item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

.filter-item a:hover {
  opacity: 0.8;
}

/* FOOTER */
footer {
  background-color: #413434;
  padding: 15px;
  text-align: center;
  color: white;
}

/* PRODUCT SECTION */

.product-section {
  width: 100%;
  padding: 20px 35px 50px;
  background: #ffffff;
}

.product-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  width: 23.5%;
}

.product-image {
  background: #ffffff;
  padding: 30px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  transition: 0.3s;
}

.product-image img:hover {
  transform: scale(1.05);
}

.product-thumbnail {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.product-thumbnail img {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.product-info {
  margin-top: 18px;
}

.product-info h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 5px;
  color: #000000;
}

.product-info p {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.product-info span {
  font-size: 18px;
  font-weight: 800;
  color: #000;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 280px;
  height: 100vh;
  background: #fff;
  z-index: 9998;
  transition: 0.3s;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;
  border-bottom: 1px solid #ddd;

  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.mobile-menu a::after {
  content: "›";
  font-size: 24px;
}


.hero-container {
  position: relative;
  text-align: center;
  color: white ;
  font-family: 'Irish Grover', cursive;
}

.img-h {
  width: 100%;
  height: auto;
  display: block;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  padding: 10px 30px;
  border-radius: 10px;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* Product Section */
.product-section {
  padding: 60px 0;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: start;
}

/* Gallery */
.main-image {
  background: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  display: block;
}

.thumbnails {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.thumbnails img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #eee;
  transition: 0.3s;
}

.thumbnails img:hover {
  border-color: #000;
}

/* Product Info */
.badge {
  display: inline-block;
  background: #111;
  color: #fff;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.product-info h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}

.sku {
  color: #888;
  margin: 10px 0 20px;
  font-size: 14px;
}

.price {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  color: #555;
  margin-bottom: 30px;
}

/* Options */
.option-group {
  margin-bottom: 25px;
}

.option-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
}

.color.active {
  border: 3px solid #111;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sizes button {
  width: 50px;
  height: 42px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
}

.sizes button.active,
.sizes button:hover {
  background: #111;
  color: #fff;
}

/* Quantity */
.quantity {
  display: flex;
  width: 140px;
  margin-bottom: 30px;
}

.quantity button,
.quantity input {
  width: 46px;
  height: 46px;
  border: 1px solid #ddd;
  text-align: center;
  background: #fff;
}

.quantity input {
  border-left: none;
  border-right: none;
}

/* Buttons */
.actions {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.actions button {
  flex: 1;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn-primary {
  background: #111;
  color: #fff;
}

.btn-secondary {
  background: #ff6600;
  color: #fff;
}

.actions button:hover {
  opacity: 0.9;
}

/* Features */
.features {
  list-style: none;
  margin-top: 20px;
}

.features li {
  margin-bottom: 8px;
  color: #444;
  position: relative;
  padding-left: 20px;
}

.features li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #0a8f3d;
  font-weight: bold;
}
        
       

/* Responsif */


/*  LAPTOP  */
@media screen and (max-width: 1366px) {

  html {
    font-size: 95%;
  }
  .image-container  img {
    margin-top: 20px;
    width: 100%;
  }
  body{
    margin: 0;
  }
}





/*  TABLET  */
@media screen and (max-width: 768px) {

  html {
    font-size: 80%;
  }


   .navbar {
    padding: 14px 20px;
  }

  /* logo */
  .navbar .navbar-logo img {
    width: 38px;
    right: 0;
  }

  /* sembunyikan menu desktop */
  .navbar .navbar-nav {
    display: none;
  }

  /* icon kanan */
  .navbar-extra {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .navbar-extra a {
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ukuran icon */
  .navbar-extra svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }

  /* hamburger tampil */
  #hamburger-menu {
    display: flex;
  }



  /*  NAVBAR  */
  .navbar {
    padding: 1rem 5%;
  }

  .navbar .navbar-nav {
    display: none;
  }

  .navbar .navbar-logo img {
    width: 38px;
    right: 0;
  }

  .navbar-extra {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .navbar-extra a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-extra svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }

  #hamburger-menu {
    display: flex;
  }

  .navbar .search-form {
    width: 90%;
    right: 5%;
  }

  /*  HERO  */
  .hero-container {
    margin-top: 72px;
  }

  h1 {
    font-size: 48px;
  }

  /*  IMAGE  */
  .image-container img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
  }

  .images-shop img {
    margin-top: 72px;
  }

  /*  NEWS  */
  .news-section {
    padding: 30px 20px;
  }

  .news-container {
    flex-wrap: wrap;
    gap: 20px;
  }

  .news-card {
    width: calc(50% - 10px);
  }

  .news-card img {
    height: auto;
  }

  .news-card h3 {
    min-height: auto;
    font-size: 16px;
    line-height: 1.5;
  }

  .btn-news {
    width: 100%;
    justify-content: center;
  }

  /*  FILTER  */
  .filter-bar {
    flex-wrap: wrap;
    gap: 15px;
    padding: 18px 15px;
    top: 72px;
  }

  .filter-item {
    width: 30%;
    text-align: center;
  }

  .filter-item a {
    font-size: 14px;
  }

  /*  PRODUCT  */
  .product-section {
    padding: 25px 20px;
  }

  .product-container {
    gap: 20px;
  }

  .product-card {
    width: calc(50% - 10px);
  }

  .product-image {
    height: 230px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-image img {
    width: 90%;
    max-height: 150px;
    object-fit: contain;
  }

  .product-info h3 {
    font-size: 17px;
  }

  .product-info span {
    font-size: 17px;
  }


}

/*  MOBILE  */
@media screen and (max-width: 450px) {

  html {
    font-size: 70%;
  }

  .navbar {
    padding: 12px 16px;
  }

  .navbar .navbar-logo img {
    width: 34px;
  }

  .navbar-extra {
    gap: 12px;
  }

  .navbar-extra svg {
    width: 17px;
    height: 17px;
  }
  
  /*  NAVBAR  */
  .navbar {
    padding: 1rem 4%;
  }

  .navbar .navbar-logo img {
    width: 34px;
    right: 0;
  }

  .navbar-extra {
    gap: 10px;
  }

  .navbar-extra svg {
    width: 17px;
    height: 17px;
  }

  .navbar .search-form {
    width: 92%;
    right: 4%;
    height: 4rem;
  }

  /*  HERO  */
  .hero-container {
    margin-top: 65px;
  }

  h1 {
    font-size: 32px;
  }

  /*  IMAGE  */
  .image-container img {
    width: 100%;
    max-height: 190px;
    object-fit: cover;
  }

  .images-shop img {
    margin-top: 65px;
  }

  /*  NEWS  */
  .news-section {
    padding: 20px 15px;
  }

  .news-container {
    gap: 25px;
  }

  .news-card {
    width: 100%;
  }

  .news-card h3 {
    font-size: 15px;
    line-height: 1.5;
  }

  .btn-news {
    width: 100%;
    justify-content: center;
    padding: 12px;
  }

  /*  FILTER  */
  .filter-bar {
    padding: 15px 10px;
    gap: 10px;
    top: 60px;
  }

  .filter-item {
    width: 48%;
  }

  .filter-item a {
    font-size: 12px;
  }

  /*  PRODUCT  */
  .product-section {
    padding: 20px 15px;
  }

  .product-container {
    gap: 25px;
  }

  .product-card {
    width: 100%;
  }

  .product-image {
    height: 190px;
    padding: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-image img {
    width: 85%;
    max-height: 120px;
    object-fit: contain;
  }

  .product-thumbnail {
    justify-content: center;
  }

  .product-info {
    margin-top: 15px;
  }

  .product-info h3 {
    font-size: 16px;
  }

  .product-info p {
    font-size: 12px;
  }

  .product-info span {
    font-size: 16px;
  }

  /*  FOOTER  */
  footer {
    padding: 20px 15px;
    text-align: center;
  }

}